[Interface]
Address = {{NAS_WG_ADDRESS}}
PrivateKey = {{NAS_PRIVATE_KEY}}

[Peer]
PublicKey = {{HOME_PUBLIC_KEY}}
AllowedIPs = {{HOME_ALLOWED_IP}}
Endpoint = {{HOME_ENDPOINT}}:{{HOME_WG_PORT}}
PersistentKeepalive = {{PRIMARY_KEEPALIVE}}
